.editor-wrapper {
  display: grid;
  grid-column: 1/21;
  grid-template-rows: auto 1fr auto;
  overflow-y: hidden;
  z-index: 5;
  background-color: #414141;
  box-shadow: 2px 0px 10px 0px rgb(0,0,0,0.5);
}

.progress-bar {
  height: 8px;
  background-color: #33ddff;
  transition: transform 400ms ease;
}

.editor-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  overflow-y: auto;
}

.editor-container h1 {
  color: #FFF;
  padding: 8px 8px 16px;
}

.sections-container {
  width: 100%;
  max-width: 771px;
  margin: 0 auto;
}

.add-section-button {
  width: 100%;
  padding: 8px 8px;
  border-radius: 4px;
  color: #00d4ff;
  font-size: 22px;
  font-weight: 700;
  background-color: transparent;
  margin: 0 auto 8px;
  transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
}

.plus-mark {
  font-size: 28px;
}

.editor-nav-buttons {
  padding-top: 12px;
  margin: auto 12px 8px 12px;
  background-color: transparent;
}

.nav-buttons-wrapper {
  display: flex;
  width: 100%;
  max-width: 771px;
  gap: 16px;
  margin: auto;
}

.editor-nav-buttons button {
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0px rgb(0,0,0,0.5);
  padding: 12px 12px;
  transition:
    color 150ms ease-in,
    background-color 150ms ease-in;
}

.previous-button {
  margin-right: auto;
}

.next-button {
  margin-left: auto;
}

.preview-button {
  margin-left: auto;
}