.input-field-normal {
  flex: 1 1 272px;
  position: relative;
  min-width: minmax(100%, 462px);
  min-height: 44px;
  max-height: 44px;
  margin: 0 auto;
}

.input-field-normal input {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00d4ff;
  border-radius: 4px;
  padding: 20px 12px;
  background: none;
  transition: border-color 150ms ease-in;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  border-color: #99eeff;
  outline: none;
}

.input-field-normal>label {
  position: absolute;
  left: 4px;
  top: 13px;
  opacity: 0.8;
  cursor: text;
  padding: 0 8px;
  border-radius: 16px;
  background-color: #002a33;
  transition:
    opacity 150ms ease-in,
    transform 150ms ease-in,
    font-size 150ms ease-in;
}

input:focus~label,
input:not(:placeholder-shown)~label {
  opacity: 1;
  transform: translateY(-23px);
  font-size: 13px;

}

input:-webkit-autofill,
input:autofill {
  background-color: #002a33;
  color: inherit;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

option {
  background-color: #002a33;
}

/* 
  --------- DATE INPUTS ---------
 */

.date-inputs {
  flex: 1 1 272px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  min-width: minmax(100%, 462px);
  gap: 8px;
  margin: auto;
}

.input-field-normal input[type="date"] {
  padding: 20px 2px 20px 12px;
}

@-moz-document url-prefix() {
  .input-field-normal input[type="date"] {
    padding: 10px 2px 20px 12px;
  }
}

.present-date {
  grid-column: 1/3;
}

.present-date>label {
  padding-left: 6px;
  padding-right: 4px;
}

.date-inputs>.input-field-normal {
  width: 100%;
}

/* 
  --------- TEXT AREA ---------
 */

.input-field-textarea {
  position: relative;
  min-width: 100%;
}

.input-field-textarea textarea {
  resize: none;
  width: 100%;
  color: #fff;
  border: 2px solid #00d4ff;
  border-radius: 4px;
  padding: 11px 10px;
  background: none;
  transition:
    border-color 150ms ease-in;
}

textarea:focus,
textarea:focus-visible {
  border-color: #99eeff;
  outline: none;
}

.input-field-textarea>label {
  position: absolute;
  left: 4px;
  top: 13px;
  opacity: 0.8;
  cursor: text;
  padding: 0 8px;
  border-radius: 16px;
  background-color: #002a33;
  transition:
    opacity 150ms ease-in,
    transform 150ms ease-in,
    font-size 150ms ease-in;
}

textarea:focus~label,
textarea:not(:placeholder-shown)~label {
  opacity: 1;
  transform: translateY(-23px);
  font-size: 13px;
}

/* 
  --------- SELECT LISTS ---------
 */

.input-field-normal select {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #00d4ff;
  border-radius: 4px;
  padding: 9px 12px;
  background: none;
}

.language-section .input-field-normal label {
  opacity: 1;
  background-color: #002a33;
  border-radius: 16px;
  transform: translateY(-23px);
  font-size: 13px;
}

/* 
  --------- CHECKBOX & RADIO ---------
 */

.present-date {
  position: relative;
}

.present-date input[type="checkbox"],
.skill-input input[type="radio"] {
  z-index: 2;
  position: absolute;
  top: 6px;
  opacity: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #00d4ff;
  border-radius: 4px;
  transform: translateY(6px);
  transition: background-color 150ms ease;
}

.present-date input[type="checkbox"]:checked+.custom-checkbox,
.no-level input[type="radio"]:checked+.custom-checkbox {
  background-color: #66e5ff
}

/* 
  --------- RADIO ---------
 */

.skill-input {
  flex: 1 1 220px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  min-width: minmax(100%, 462px);
  max-width: 462px;
  gap: 8px;
  margin: auto;

}

.skill-input .input-field-normal {
  width: 100%;
}

.no-level {
  position: relative;
}

.no-level>label {
  padding-left: 6px;
  padding-right: 4px;
}

.radio-buttons {
  flex: 1 1 220px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  min-width: minmax(100%, 462px);
  max-width: 462px;
  gap: 8px;
  margin: 0 auto;
}

.skill-level {
  text-align: center;
  margin-top: auto;
}

.buttons-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 44px;
  border: 2px solid #00d4ff;
  border-radius: 4px;
}

.custom-radio-container {
  position: relative;
}

.custom-radio-container>input {
  z-index: 2;
  position: absolute;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: none;
  cursor: pointer;
}

.highlighting-box {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 41px;
  width: 20.05%;
  background-color: #00d4ff;
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out 0.2s;
}