.section-card {
  margin-bottom: 24px;
  box-shadow: 2px 2px 20px -2px rgb(0, 0, 0, 0.8);
  border-radius: 4px;
  overflow: hidden;
}

.input-container-shown {
  background-color: #002a33;
  padding: 36px 16px;
  color: white;
}

.input-container-shown section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.input-container-hidden {
  background-color: #002a33;
  padding: 16px 16px;
  color: white;
}

.hidden-section h3 {
  margin-bottom: 6px;
}

.hidden-section p {
  font-weight: 200;
  letter-spacing: 0.5px;
}

.card-buttons-container,
.toggle-container {
  display: flex;
}

.card-buttons-container button,
.toggle-container button {
  flex: 1;
  padding: 4px 0;
  transition: background-color 150ms ease-in;
}

.card-buttons-container button {
  padding: 8px 0;
}

.card-buttons-container img {
  width: 24px;
  transition: filter 150ms ease-in;
}