@media (hover: hover) and (pointer: fine) {

  /* layout.css */
  .header-buttons-container>button:hover {
    background-color: #007f99;
    color: #FFF;
  }

  /* cvContainer.css */
  /* .cv-subcontainer section:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
    transform: scale(1.1);
    box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.5);
  } */

  /* cvEditor.css */
  .add-section-button:hover {
    background-color: #66e5ff44;
    box-shadow: 2px 2px 10px -2px rgb(0, 0, 0, 0.5);
  }

  .editor-nav-buttons button:hover {
    background-color: #007f99;
    color: #FFF;
  }

  /* inputCard.css */
  .card-buttons-container button:hover>img,
  .card-buttons-container button:focus>img,
  .toggle-container button:hover>img {
    filter: invert(1);
  }

  .card-buttons-container button:hover,
  .card-buttons-container button:focus,
  .toggle-container button:hover {
    background-color: #007f99;
  }

}

@media (min-width: 795px) {
  header {
    box-shadow: 2px 2px 10px 0px rgb(0, 0, 0, 0.5);
  }

  .header-buttons-container {
    width: 500px;
    margin: 8px auto;
    gap: 2vw;
  }

  .header-buttons-container button {
    border-radius: 4px;
  }

  .editor-wrapper {
    grid-column: 1/11;
  }

  .editor-container {
    padding: 16px 32px;
  }

  .editor-nav-buttons {
    margin-bottom: 1vw;
  }

  .cv-container {
    display: grid;
    grid-column: 11/21;
    padding: 32px 0 64px;
  }
}

@media (min-width: 1181px) {

  .section-card {
    display: flex;
  }

  .card-buttons-container {
    flex-direction: column;
  }

  .card-buttons-container button {
    padding: 12px;
  }

  .toggle-container button {
    padding: 0 8px;
  }

  .input-container-hidden,
  .input-container-shown {
    flex: 1;
  }

}